:root {
    /* others
     */
    --color-body                   : #CFE6E8;
    --color-border                 : rgba(0, 0, 0, .08);
    --border-radius                : 2px;
}
/* ------------------------------------------------------------------- 
 * ## spacing and typescale
 * ------------------------------------------------------------------- */
:root {

    /* spacing
     * base font size: 19px 
     * vertical space unit : 32px
     */
    --base-size        : 62.5%;
    --multiplier       : 1;
    --base-font-size   : calc(1.9rem * var(--multiplier));
    --space            : calc(3.2rem * var(--multiplier));

    /* type scale
     * ratio 1:2 | base: 19px
     * -------------------------------------------------------
     *
     * --text-display-3 = (81.70px)
     * --text-display-2 = (68.08px)
     * --text-display-1 = (56.73px)
     * --text-xxxl      = (47.28px)
     * --text-xxl       = (39.40px)
     * --text-xl        = (32.83px)
     * --text-lg        = (27.36px)
     * --text-md        = (22.80px)
     * --text-size      = (19.00px) BASE
     * --text-sm        = (15.83px)
     * --text-xs        = (13.19px)
     *
     * ---------------------------------------------------------
     */
    --text-scale-ratio : 1.2;
    --text-size        : var(--base-font-size);
    --text-xs          : calc((var(--text-size) / var(--text-scale-ratio)) / var(--text-scale-ratio));
    --text-sm          : calc(var(--text-xs) * var(--text-scale-ratio));
    --text-md          : calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-lg          : calc(var(--text-md) * var(--text-scale-ratio));
    --text-xl          : calc(var(--text-lg) * var(--text-scale-ratio));
    --text-xxl         : calc(var(--text-xl) * var(--text-scale-ratio));
    --text-xxxl        : calc(var(--text-xxl) * var(--text-scale-ratio));
    --text-display-1   : calc(var(--text-xxxl) * var(--text-scale-ratio));
    --text-display-2   : calc(var(--text-display-1) * var(--text-scale-ratio));
    --text-display-3   : calc(var(--text-display-2) * var(--text-scale-ratio));

}

/* ===================================================================
 * # BASE SETUP
 * ------------------------------------------------------------------- */
html {
    font-size  : var(--base-size);
    box-sizing : border-box;
}

*,
*::before,
*::after {
    box-sizing : inherit;
}

html,
body {
    height : 100%;
}

body {
    background-color            : var(--color-body);
    -webkit-overflow-scrolling  : touch;
    -webkit-text-size-adjust    : 100%;
    -webkit-tap-highlight-color : rgba(0, 0, 0, 0);
    -webkit-font-smoothing      : antialiased;
    -moz-osx-font-smoothing     : grayscale;
}

p {
    font-size      : inherit;
    text-rendering : optimizeLegibility;
}

a {
    text-decoration : none;
}

img{
    max-width : 100%;
    height    : auto;
}

pre {
    overflow : auto;
}
td {
    margin  : 0;
    padding : 0;
}
/* row 
 */
.row {
    width     : 92%;
    max-width : var(--width-grid-max);
    margin    : 0 auto;
    display   : flex;
    flex-flow : row wrap;
}

.row .row {
    width        : auto;
    max-width    : none;
    margin-left  : calc(var(--gutter) * -1);
    margin-right : calc(var(--gutter) * -1);
}

/* column
 */
.column {
    display : block;
    flex    : 1 1 0%;
    padding : 0 var(--gutter);
}

.collapse>.column,
.column.collapse {
    padding : 0;
}


body {
    font-family : var(--font-1);
    font-size   : var(--base-font-size);
    font-weight : 400;
    line-height : calc(var(--space));
    color       : var(--color-text);
}

/* links
 */
a {
    color      : hsla(183, 22%, 69%, 1);
    transition : all 0.3s ease-in-out;
}

a:focus,
a:hover,
a:active {
    color : var(--color-2-lighter);
}

a:hover,
a:active {
    outline : 0;
}

.text-center {
    text-align : center;
}

.text-left {
    text-align : left;
}

.text-right {
    text-align : right;
}


/* ===================================================================
 * # PAGE WRAP
 * ------------------------------------------------------------------- */
.s-pagewrap {
    --header-height : 8rem;
    display         : flex;
    flex-direction  : column;
    min-height      : 100%;
    overflow        : hidden;
    position        : relative;
}

/* ===================================================================
 * # SITE HEADER
 * ------------------------------------------------------------------- */
.s-header {
    --box-shadow: 0 1px 1px rgba(0, 0, 0, 0.01),
                  0 2px 2px rgba(0, 0, 0, 0.01),
                  0 6px 6px rgba(0, 0, 0, 0.01);

    z-index          : 100;
    display          : flex;
    height           : var(--header-height);
    background-color : var(--color-body);
    width            : 100%;
    transition       : height 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    position         : absolute;
    top              : 0;
    left             : 0;
}


/* --------------------------------------------------------------------
 * ## branding
 * -------------------------------------------------------------------- */
.s-header__branding {
    z-index        : 2;
    font-family    : var(--font-2);
    font-size      : 3rem;
    line-height    : 1;
    letter-spacing : -0.03em;
    transform      : translateY(-50%);
    position       : absolute;
    top            : 50%;
    left           : 3.6rem;
}

.s-header__branding .site-title {
    margin  : 0;
    padding : 0;
}

.s-header__branding a {
    margin  : 0;
    padding : 0;
    outline : 0;
    border  : none;
    color   : var(--color-text-dark);
}

/* --------------------------------------------------------------------
 * ## main navigation
 * -------------------------------------------------------------------- */
.s-header__nav-wrap {
    justify-content : center;
    align-items     : center;
}

.s-header__nav a {
    display             : block;
    font-size           : 2rem;
    font-weight         : 400;
    line-height         : calc(var(--space));
    color               : var(--color-text-dark);
    padding             : 0 1.8rem;
    transition-property : color, background-color;
}

.s-header__nav a:focus,
.s-header__nav a:hover {
    color : hsla(203, 100%, 79%, 1);
}

.s-header__nav ul {
    list-style : none;
    display    : flex;
    flex-flow  : row nowrap;
    margin     : 0;
    padding    : 0;
}

.s-header__nav li {
    padding-left : 0;
}

/* --------------------------------------------------------------------
 * ## header social
 * -------------------------------------------------------------------- */
.s-header__social {
    list-style : none;
    display    : flex;
    margin     : 0;
    transform  : translateY(-50%);
    position   : absolute;
    top        : calc(50% - .2rem);
    right      : 3.6rem;
}

.s-header__social li {
    padding-left : 0;
    margin-right : 1rem;
    line-height  : 1;
}

.s-header__social li:last-child {
    margin-right : 0;
}

.s-header__social svg {
    height : 2.8rem;
    width  : 2.8rem;
}

.s-header__social svg path {
    fill : var(--color-text-dark);
}

/* ===================================================================
 * # INTRO
 * ------------------------------------------------------------------- */
.s-intro {
    padding-top : calc(9.5 * var(--space));
    width       : 100%;
    position    : relative;
}

.s-intro__content {
    position : relative;
}

/* --------------------------------------------------------------------
 * ## intro text
 * -------------------------------------------------------------------- */
.s-intro__text {
    z-index    : 2;
    width      : 100%;
    text-align : center;
    position   : absolute;
    top        : 0;
    left       : 0;
}

.s-intro__text h3 {
    font-family    : var(--font-1);
    font-size      : var(--text-xxxl);
    font-weight    : 400;
    margin-top     : 0;
    color          : white;
}

.s-intro__text h3 span {
    color : var(--color-2-light);
}

.s-intro__text-huge {
    --text-huge-size : 24.6rem;
    font-size        : var(--text-huge-size);
    line-height      : 1;
    letter-spacing   : -0.015em;
    margin-top       : calc(var(--text-huge-size) / 2 * -1.2);
    margin-bottom    : calc(1.25 * var(--space));
    color            : white;
}
.s-intro__bg {
    aspect-ratio        : 1/1;
    width               : 100%;
    background-color    : var(--color-gray-4);
    background-image    : url(../images/ldbg.jpg);
    background-repeat   : no-repeat;
    background-position : center;
    background-size     : cover;
    position            : relative;
}

.s-intro__bg::after {
    display        : block;
    content        : "";
    position       : absolute;
    top            : 0;
    left           : 0;
    right          : 0;
    bottom         : 0;
    width          : 100%;
    height         : 100%;
    background     : linear-gradient(180deg, black 5%, rgba(0, 0, 0, 0) 100%);
    pointer-events : none;
    opacity        : .12;
}


/* ===================================================================
 * # ABOUT
 * ------------------------------------------------------------------- */
.s-about {
    --subtitle-line-height         : calc(1.5 * var(--space));
    --timeline-left-padding        : calc(1.75 * var(--space)));
    --timeline-top-adjust          : calc(var(--subtitle-line-height) / 2);
    --timeline-vertical-border-pos : 8px;

    padding-top                    : calc(5 * var(--space));
    padding-bottom                 : calc(3 * var(--space));
}

.s-about__block {
    margin-bottom : calc(2* var(--space));
}

/* ===================================================================
 * # FOOTER
 * ------------------------------------------------------------------- */
.s-footer {
    padding-top    : calc(6 * var(--space));
    padding-bottom : calc(2.5 * var(--space));
    font-weight    : 300;
    position       : relative;
}

.s-footer .link-list a {
    color  : var(--color-text);
    border : none;
}

.s-footer .link-list a:hover {
    color : hsla(203, 100%, 79%, 1);
}

.s-footer__contact-content .left-block {
    padding-top : calc(0.25 * var(--space));
}

.s-footer__contact-content .right-block {
    margin-left : 15%;
}

